<!DOCTYPE html>
<head>
  <%- include ("head.ejs") %>
</head>

<body leftmargin="0" topmargin="0">
<DIV ID="objContents">
<%- include ("ddScript.ejs") %>

<div id="wrap">
	<div id="header">
	  <%- include ("header.ejs") %>
	</div><!--// header -->

	<div class="location">
		<div class="inner">
			<span class="path">HOME &nbsp;&gt;&nbsp; Board &nbsp;&gt;&nbsp;

<% if(tbl == 1) { %>
<span>Notice</span>
<% } else if(tbl == 2) { %>
<span>Gallery</span>
<% } else if(tbl == 3) { %>
<span>Free board</span>
<% } %>

			</span>


		</div><!--// inner -->
	</div><!--// location -->

	<div id="sub_container" class="clfix">
		<div id="sidebar">
		  <%- include ("sidebar.ejs") %>
		</div><!--// sidebar -->


		<div id="sub_contents">
			<div class="contop">
				<% if(tbl == "1") { %>
				<h3 class="page_title">Notice</h3>
				<% } else if (tbl == "2") { %>
				<h3 class="page_title">Gallery</h3>
				<% } else if (tbl == "3") { %>
				<h3 class="page_title">Free board</h3>
				<% } %>
				<p>Genesys Lab.</p>

			</div><!--// contop -->
			<div class="conbody">
<br />

<% if(tbl == "2") { %>

  <table width="100%" border="0" cellpadding="0" cellspacing="0">
  <form name="ListCheck" id="test" method="post" action="/bbs/process.php" enctype="multipart/form-data" validate="UTF-8" onsubmit="return listChk(this)"></form>
  	<tbody><tr>
  		<td colspan="4" style="padding-bottom:5px;"></td>
  	</tr>

    <% for(var i = 0; i<data.length;i++) { %>
      <% if(i % 4 == 0) { %>
        <tr>
      <% } %>
      <td valign="top"><!--  -->
      <table width="150" height="150" border="0" align="center" cellpadding="0" cellspacing="0">

        <tbody><tr>
        <td>
        <table width="150" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #dcdcdc">
          <tbody><tr>
           <td align="center" height="150"><a href="/bbs/board.php?tbl=gallery&amp;mode=VIEW&amp;num=36&amp;category=&amp;findType=&amp;findWord=&amp;sort1=&amp;sort2=&amp;it_id=&amp;shop_flag=&amp;board_sub=&amp;mobile_flag=&amp;page=1"><img src="<%= data[i].img %>" width="150" height="150" border="0"></a></td>
          </tr>
        </tbody></table>
        </td>
        </tr>
        <tr><td height="25"><div align="left" style="padding-left:5px;"><a href="/bbs/board.php?tbl=gallery&amp;mode=VIEW&amp;num=36&amp;category=&amp;findType=&amp;findWord=&amp;sort1=&amp;sort2=&amp;it_id=&amp;shop_flag=&amp;board_sub=&amp;mobile_flag=&amp;page=1"><font color="767676"><%= data[i].title %></font></a> <!----></div></td></tr>
        <tr>
          <td height="25"></td>
        </tr>
      </tbody></table>
    </td>
      <% if(i != 0 && i % 3 == 0) { %>
        </tr>
      <% } %>
    <% } %>
  </tbody></table>

<% } else { %>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td height="2" bgcolor="#555555" colspan="26"></td>
  </tr>
    <tr height="35" align="center" bgcolor="#ffffff">
      <td width="7%" height="35" class="tit">글번호</td>
      <td width="1%" valign="top"  ></td>
      <td width="48%" class="tit">제목</td>
      <td width="1%" valign="top"  > </td>
      <td width="8%" class="tit">작성자</td>
      <td width="1%" valign="top"  > </td>
      <td width="10%" class="tit">작성일</td>
      <td width="1%" valign="top"  > </td>
      <td width="8%" class="tit">조회수</td>
      <td width="1%" valign="top"  ></td>
    </tr>
  <tr>
    <td height="1" bgcolor="#aaaaaa" colspan="26"></td>
  </tr>
  </tr>
    <% for ( var i = 0; i<data.length;i++) { %>
    <tr height="35" align="center">
    <td> <%= data[i].id %> </td>
    <td>&nbsp;</td>
        <td align="left" style="padding:8px 0; ">
				<a href="./board_view.ejs?tbl=<%= tbl %>&id=<%= data[i].id %>">
		<%= data[i].title %> </span>
		</a>
						    </td>
    <td>&nbsp;</td>
    <td> <%= data[i].author %> </td>
    <td>&nbsp;</td>
    <td> <%= data[i].date %>  </td>
    <td>&nbsp;</td>
    <td> <%= data[i].hit %> </td>
    <td>&nbsp;</td>
      </tr>
  <tr>
    <td height="1" bgcolor="#F0F0F0" colspan="26"></td>
  </tr>
  <% } %>
      <tr>
    <td height="1" bgcolor="#dcdcdc" colspan="26"></td>
  </tr>
</table>

<% } %>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td height="50" align="left">
			        </td>
		<td height="50" align="right">
						</td>
	</tr>
	<tr>
		<td align="center" colspan="2">
			<div class="paginate mt20">
				<ul>
									</ul>
			</div>
				</td>
<td align="right">
<% if(tbl == 1) { %>
<%   if(session.user_id == 'admin') { %>
       <a href="./board_write.ejs?tbl=<%= tbl %>"><div class="bbs_btn">글쓰기</div>
<%   } %>
<% } else { %>
<a href="./board_write.ejs?tbl=<%= tbl %>"><div class="bbs_btn">글쓰기</div>
<% } %>
</td>
	</tr>
</table>
<div style="text-align:center;border-top: 1px solid #dedede;border-bottom:1px solid #dedede;margin-bottom:10px;">

<% if (start > 1) { %>
            <a href="./board.ejs?tbl=<%= tbl %>&pageNum=1">처음</a>
          <% } if ( pageNum > 1) { %>
          <a href="./board.ejs?tbl=<%= tbl %>&pageNum=<%= pageNum-1 %>">이전</a>
          <% } %>
          <% for (var iCount = start; iCount <= end; iCount++) { %>
          <% if (iCount == pageNum) { %>
          &nbsp;<a href="./board.ejs?tbl=<%= tbl %>&pageNum=<%= iCount %>"><b>
          <%=" " + iCount + " " %>
          </b></a>&nbsp;
          <% } else { %>
          &nbsp;<a href="./board.ejs?tbl=<%= tbl %>&pageNum=<%= iCount %>">
          <%=" " + iCount + " " %>
          </a>&nbsp;
          <%
					}
			} %>
      <% if(pageNum != end && data.length != 0) { %>
      <a href="./board.ejs?tbl=<%= tbl %>&pageNum=<%= parseInt(pageNum)+1 %>">다음</a>
      <% } %>
</div>
<div class="board_search mt20 mb50">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
		<tr>
			<td>
				<table border="0" cellspacing="0" cellpadding="0" align="center">
					<tr>
				<form name="frm_search" method="post" action="/search" autocomplete="off" style="margin:0px;">
						<td style="font-size:0">
													<select name="findType">
								<option value="" selected>--검색--</option>
								<option value="title" >제목</option>
								<option value="name" >작성자</option>
								<option value="content" >내용</option>
</select>
<input type="hidden" id="tbl" name="tbl" value"<%= tbl %> />
&nbsp;<input type="text" name="search" id="search" class="board_search_area" placeholder="검색어를 입력하세요." value="">&nbsp;<input type="submit" value="검색" class="board_btn_seach"/>
						</td>
				</form>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
	</div><!--// conbody -->
	  </div><!--// sub_contents -->
	    </div><!--// sub_container -->


	<div id="footer">
	  <%- include ("footer.ejs") %>
	</div><!--// footer -->
</div><!--// wrap -->


</DIV>
<DIV ID="objSelection">
</DIV>

</body>
</html>
