<!DOCTYPE html>
<head>
  <%- include ("head.ejs") %>
</head>
<body leftmargin="0" topmargin="0">
<DIV ID="objContents">
<%- include ("ddScript.ejs") %>

<div id="wrap">
	<div id="header">
	  <%- include ("header.ejs") %>
	</div><!--// header -->

	<div class="location">
<%- include ("location.ejs") %>
	</div><!--// location -->

	<div id="sub_container" class="clfix">
		<div id="sidebar">
		  <%- include ("sidebar.ejs") %>
		</div><!--// sidebar -->


		<div id="sub_contents">
			<div class="contop">
				<% if(tbl == "1") { %>
				<h3 class="page_title">공지사항</h3>
				<% } else if (tbl == "2") { %>
				<h3 class="page_title">갤러리</h3>
				<% } else if (tbl == "3") { %>
				<h3 class="page_title">문의하기</h3>
				<% } %>
				<p>COSTOM LAB.</p>

			</div><!--// contop -->
			<div class="conbody">
<br />

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td height="2" colspan="26"><%= totalCount %> 개의 검색 결과</td>
  </tr>
  <tr>
    <td height="2" colspan="26">
    <input type="hidden" id="pageNum" name="pageNum" value="<%= pageNum %>" /></td>
  </tr>
    <tr height="35" align="center" bgcolor="#ffffff">
      <td width="7%" height="35" class="tit">글번호</td>
      <td width="1%" valign="top"  ></td>
      <td width="48%" class="tit">제목</td>
      <td width="1%" valign="top"  > </td>
      <td width="8%" class="tit">작성자</td>
      <td width="1%" valign="top"  > </td>
      <td width="10%" class="tit">작성일</td>
      <td width="1%" valign="top"  > </td>
      <td width="8%" class="tit">조회수</td>
      <td width="1%" valign="top"  ></td>
    </tr>
  <tr>
    <td height="1" bgcolor="#aaaaaa" colspan="26"></td>
  </tr>
  </tr>
    <% for ( var i = 0; i<data.length;i++) { %>
    <tr height="35" align="center">
    <td> <%= data[i].id %> </td>
    <td>&nbsp;</td>
        <td align="left" style="padding:8px 0; ">
				<a href="./board_view.ejs?tbl=<%= tbl %>&id=<%= data[i].id %>">
		<%= data[i].title %> </span>
		</a>
						    </td>
    <td>&nbsp;</td>
    <td> <%= data[i].author %> </td>
    <td>&nbsp;</td>
    <td> <%= data[i].date %>  </td>
    <td>&nbsp;</td>
    <td> <%= data[i].hit %> </td>
    <td>&nbsp;</td>
      </tr>
  <tr>
    <td height="1" bgcolor="#F0F0F0" colspan="26"></td>
  </tr>
  <% } %>
      <tr>
    <td height="1" bgcolor="#dcdcdc" colspan="26"></td>
  </tr>
</table>
<!-- <div style="text-align:center;border-top: 1px solid #dedede;border-bottom:1px solid #dedede;margin-bottom:10px;">

<% if (start > 1) { %>
            <a href="./board_search.ejs?tbl=<%= tbl %>&pageNum=1">처음</a>
          <% } if ( pageNum > 1) { %>
          <a href="./board_search.ejs?tbl=<%= tbl %>&pageNum=<%= pageNum-1 %>">이전</a>
          <% } %>
          <% for (var iCount = start; iCount <= end; iCount++) { %>
          <% if (iCount == pageNum) { %>
          &nbsp;<a href="./board_search.ejs?tbl=<%= tbl %>&pageNum=<%= iCount %>"><b>
          <%=" " + iCount + " " %>
          </b></a>&nbsp;
          <% } else { %>
          &nbsp;<a href="./board_search.ejs?tbl=<%= tbl %>&pageNum=<%= iCount %>">
          <%=" " + iCount + " " %>
          </a>&nbsp;
          <%
					}
			} %>
      <% if(pageNum != end && data.length != 0) { %>
      <a href="./board.ejs?tbl=<%= tbl %>&pageNum=<%= parseInt(pageNum)+1 %>">다음</a>
      <% } %>
</div> -->
	</div><!--// conbody -->
	  </div><!--// sub_contents -->
	    </div><!--// sub_container -->


	<div id="footer">
	  <%- include ("footer.ejs") %>
	</div><!--// footer -->
</div><!--// wrap -->


</DIV>
<DIV ID="objSelection">
</DIV>

</body>
</html>
