
<!DOCTYPE html>
<head>
<%- include ("head.ejs") %>
</head>

<script type="text/javascript">
	function openPopupWindow() {
	 document.domain = "127.0.0.1"; //document.domain 값이 팝업과 부모창 동일해야 합니다.
	 window.open("/signup", "popup", "width=500, height=500, resizable=no, scrollbars=no")
	}
</script>

<body leftmargin="0" topmargin="0">
<DIV ID="objContents">
<%- include ("ddScript.ejs") %>

<div id="wrap">
	<div id="header">
	  <%- include ("header.ejs") %>
	</div><!--// header -->

	<div id="visual_wrap">
		<link rel="stylesheet" href="/css/main_slider.css" type="text/css">
		<link rel="stylesheet" href="/css/login.css" type="text/css">
		<script type="text/javascript" src="/css/js/bxslider.js"></script>
		<ul id="visual">
			<li><p style="background:url(/images/banner3_slide.jpg) top center no-repeat; height:610px;"></p></li>
			<li><p style="background:url(/images/visual1.png) top center no-repeat; height:610px;"></p></li>
		</ul>

		<script type="text/javascript">
			$(document).ready(function(){
				$('#visual').bxSlider({
					mode:'fade',
					autoControls: true
				});
			});
		</script>
	</div><!--// visual_wrap -->

	<div class="member_info">
		<div class="inner clfix">
			<div class="member_title"><p>GENESYS LAB.</p></div>
			<div class="memberBox member_1">
				<a href="/sub.ejs?tbl=info">
					<h2>회사소개</h2>
					<p>CUSTOM LAB.</p>
					<span class="btn_more"><img src="/images/button_home.png" alt="" /></span>
				</a>
			</div><!--// member_1 -->
			<div class="memberBox member_2">
				<a href="/sub.ejs?tbl=service">
					<h2>서비스소개</h2>
					<p>CUSTOM LAB.</p>
					<span class="btn_more"><img src="/images/button_home.png" alt="" /></span>
				</a>
			</div><!--// member_2 -->
			<div class="memberBox member_3">
				<% if ( session.isLogined == true ) { %>
					<span class="login100-form-title p-b-26">
						<%= session.user_name %> 님 안녕하세요
					</span>
					<form action="/logout" method="get">
						<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button type="submit" class="login100-form-btn">
							Logout
						</button>
					</div>
					</form>
				<% } else { %>
					<div class="container-login100">
						<div class="wrap-login100">
							<form class="login100-form validate-form" action="/login" method="post" name="frm_login" id="frm_login">
								<span class="login100-form-title p-b-26">
									LOGIN
								</span>
								<span class="login100-form-title p-b-48">
									<i class="zmdi zmdi-font"></i>
								</span>

								<div class="wrap-input100 validate-input">
									<input class="input100" type="text" id="username" name="username" placeholder="아이디" style="height:30px;" required="required" autocomplete="off">
									<span class="focus-input100"></span>
								</div>

								<div class="wrap-input100 validate-input" data-validate="Enter password">
									<span class="btn-show-pass">
										<i class="zmdi zmdi-eye"></i>
									</span>
									<input class="input100" type="password" id="password" name="password" name="password" placeholder="비밀번호" style="height:30px;" required="required">
									<span class="focus-input100"></span>
								</div>

								<div class="container-login100-form-btn">
									<div class="wrap-login100-form-btn">
										<div class="login100-form-bgbtn"></div>
										<button type="submit" class="login100-form-btn">
											Login
										</button>


									</div>
								</div>
						</div>
						</form>
						<button class="login100-form-btn" onclick="window.open('/signup', '_blank', 'width=500 height=500')">
							signup
						</button>
					</div>

				</div>

				<% } %>
			</div><!--// member_3 -->
		</div><!--// inner -->
	</div><!--// member_info -->

	<%- include ("notice.ejs") %>

			<div class="publication_area">
				<h2>PUBLICATION</h2>
				<a href="/bbs/board.php?tbl=journals" class="btn_more"><img src="/images/main/btn_more.png" alt="PUBLICATION 더보기" /></a>
				<ul class="publication_list clfix">
	<li>
		<a href="/bbs/board.php?tbl=journals">
			<span class="btn_more_cont">MORE &gt;</span>
			<dl>
				<dt>01</dt>
				<dd style="word-break:break-all;">PIM-1-based carbon-sulfur composites for sodium-sulfur batteries that operate without the shuttle effect (Highlighted on Inside Back Cover)</dd>
			</dl>
		</a>
	</li>
	<li>
		<a href="/bbs/board.php?tbl=journals">
			<span class="btn_more_cont">MORE &gt;</span>
			<dl>
				<dt>02</dt>
				<dd style="word-break:break-all;">Carbanization of Carboxylate-Functionalized Polymers of Intrinsic Microporosity for Water Treatment (Highlighted on Front Cover)</dd>
			</dl>
		</a>
	</li>
	<li>
		<a href="/bbs/board.php?tbl=journals">
			<span class="btn_more_cont">MORE &gt;</span>
			<dl>
				<dt>03</dt>
				<dd style="word-break:break-all;">Enhanced cycle stability of rechargeable Li-O2 batteries using immobilized redox mediator on air cathode</dd>
			</dl>
		</a>
	</li>

</ul>
			</div><!--// publication_area -->
		</div><!--// left_contents -->

		<div class="right_contents">
			<%- include ("gallery.ejs") %>
		</div><!--// right_contents -->
	</div><!--// main_container -->

	<div id="footer">
	  <%- include ("footer.ejs") %>
	</div><!--// footer -->
</div><!--// wrap -->


</DIV>
<DIV ID="objSelection">
</DIV>

</body>
</html>
<!-- new post -->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script type="text/javascript" src="/addr_zip/Uzipjs/new_UzipJs.js"></script>
<!-- openDaumPostcode -->
