
<!DOCTYPE html>
<head>
<%- include ("head.ejs") %>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        // @details 카카오톡 Developer API 사이트에서 발급받은 JavaScript Key
        Kakao.init( "발급받은 JavaScript Key" );
        // @breif 카카오 로그인 버튼을 생성합니다.
        Kakao.Auth.createLoginButton({
              container : "#kakao-login-btn"
            , success : function( authObj ) {
                // console.log( authObj );
                Kakao.API.request({
                      url : "/v1/user/me"
                    , success : function( res ) {
                        // console.log( res );
                        // @breif 아이디
                      	document.getElementById( "kakaoIdentity" ).innerHTML = res.id;
                        // @breif 닉네임
                        document.getElementById( "kakaoNickName" ).innerHTML = res.properties.nickname;
                        // @breif 프로필 이미지
                      	document.getElementById( "kakaoProfileImg" ).src = res.properties.profile_image;
                        // @breif 썸네일 이미지
                        document.getElementById( "kakaoThumbnailImg" ).src = res.properties.thumbnail_image;
                    }, fail : function( error ) {
                        alert( JSON.stringify( error ) );
                    }
                });
            }
            , fail : function( error ) {
                alert( JSON.stringify( error ));
            }
        });
    });
</script>
</head>

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="text/javascript">
	function openPopupWindow() {
	 document.domain = "127.0.0.1"; //document.domain 값이 팝업과 부모창 동일해야 합니다.
	 window.open("/signup", "popup", "width=500, height=500, resizable=no, scrollbars=no")
	}
</script>

<body leftmargin="0" topmargin="0">
<DIV ID="objContents">
<%- include ("ddScript.ejs") %>

<div id="wrap">
	<div id="header">
	  <%- include ("header.ejs") %>
	</div><!--// header -->

	<div id="visual_wrap">
		<link rel="stylesheet" href="/css/main_slider.css" type="text/css">
		<link rel="stylesheet" href="/css/login.css" type="text/css">
		<script type="text/javascript" src="/css/js/bxslider.js"></script>
		<ul id="visual">
			<li><p style="background:url(/images/banner3_slide.jpg) top center no-repeat; height:610px;"></p></li>
			<li><p style="background:url(/images/visual1.png) top center no-repeat; height:610px;"></p></li>
		</ul>

		<script type="text/javascript">
			$(document).ready(function(){
				$('#visual').bxSlider({
					mode:'fade',
					autoControls: true
				});
			});
		</script>
	</div><!--// visual_wrap -->

	<div class="member_info">
		<div class="inner clfix">
			<div class="member_title"><p>CUSTOM LAB.</p></div>
			<div class="memberBox member_1">
				<a href="/sub.ejs?tbl=info">
					<h2>회사소개</h2>
					<p>Information</p>
					<span class="btn_more"><img src="/images/button_home.png" alt="" /></span>
				</a>
			</div><!--// member_1 -->
			<div class="memberBox member_2">
				<a href="/sub.ejs?tbl=service">
					<h2>서비스소개</h2>
					<p>Service</p>
					<span class="btn_more"><img src="/images/button_home.png" alt="" /></span>
				</a>
			</div><!--// member_2 -->
			<div class="memberBox member_3">
				<% if ( session.isLogined == true ) { %>
					<span class="login100-form-title p-b-26">
						<%= session.user_name %> 님 안녕하세요
					</span>
					<form action="/logout" method="get">
						<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button type="submit" class="login100-form-btn">
							Logout
						</button>
					</div>
					</form>
				<% } else { %>
					<div class="container-login100">
						<div class="wrap-login100">
							<form class="login100-form validate-form" action="/login" method="post" name="frm_login" id="frm_login">
								<span class="login100-form-title p-b-26">
									LOGIN
								</span>
								<span class="login100-form-title p-b-48">
									<i class="zmdi zmdi-font"></i>
								</span>

								<div class="wrap-input100 validate-input">
									<input class="input100" type="text" id="username" name="username" placeholder="아이디" style="height:30px;" required="required" autocomplete="off">
									<span class="focus-input100"></span>
								</div>

								<div class="wrap-input100 validate-input" data-validate="Enter password">
									<span class="btn-show-pass">
										<i class="zmdi zmdi-eye"></i>
									</span>
									<input class="input100" type="password" id="password" name="password" name="password" placeholder="비밀번호" style="height:30px;" required="required">
									<span class="focus-input100"></span>
								</div>

								<div class="container-login100-form-btn">
									<div class="wrap-login100-form-btn">
										<div class="login100-form-bgbtn"></div>
										<button type="submit" class="login100-form-btn">
											Login
										</button>
									</div>
								</div>
						</div>
						</form>
						<button class="login100-form-btn" onclick="window.open('/signup', '_blank', 'width=500 height=500')">
							signup
						</button>
					</div>

				</div>

				<% } %>
			</div><!--// member_3 -->
		</div><!--// inner -->
	</div><!--// member_info -->

	<%- include ("notice.ejs") %>
	<%- include ("publication.ejs") %>
		</div><!--// left_contents -->

		<div class="right_contents">
			<%- include ("gallery.ejs") %>
			<div>카카오 아이디 : <span id="kakaoIdentity"></span></div>

    <div>닉네임 : <span id="kakaoNickName"></span></div>

    <div>프로필 이미지 : <img id="kakaoProfileImg" src=""/></div>

    <div>썸네일 이미지 : <img id="kakaoThumbnailImg" src=""/></div>

    <br/>

    <a id="kakao-login-btn"></a>
		</div><!--// right_contents -->
	</div><!--// main_container -->

	<div id="footer">
	  <%- include ("footer.ejs") %>
	</div><!--// footer -->
</div><!--// wrap -->


</DIV>
<DIV ID="objSelection">
</DIV>

</body>
</html>
