
<!DOCTYPE html>
<head>
<%- include ("head.ejs") %>
<!-- <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        // @details 카카오톡 Developer API 사이트에서 발급받은 JavaScript Key
        Kakao.init( "24ca9ece3cc682d28dfbc38c2e97518d" );
        // @breif 카카오 로그인 버튼을 생성합니다.
        Kakao.Auth.createLoginButton({
              container : "#kakao-login-btn"
            , success : function( authObj ) {
                // console.log( authObj );
                 kakaoAuth();
            }
            , fail : function( error ) {
                alert( JSON.stringify( error ));
            }
        });
    });
</script>
<script>
	function kakaoAuth() {
		Kakao.API.request({
					url : "/v2/user/me"
				, success : function( res ) {
						return res;
					}, fail : function( error ) {
						alert("로그인에 실패하였습니다.");
				}
		});
	}
	function kakaoLogout() {
		Kakao.API.request({
					url : "/v1/user/logout"
				, success : function(id) {
						alert("로그아웃되었습니다.")
					}, fail : function( error ) {
				}
		});
	}
</script> -->
</head>

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="text/javascript">
	function openPopupWindow() {
	 document.domain = "127.0.0.1"; //document.domain 값이 팝업과 부모창 동일해야 합니다.
	 window.open("/signup", "popup", "width=500, height=500, resizable=no, scrollbars=no")
	}
</script>

<body leftmargin="0" topmargin="0">
<DIV ID="objContents">
<%- include ("ddScript.ejs") %>

<div id="wrap">
	<div id="header">
	  <%- include ("header.ejs") %>
	</div><!--// header -->

	<div id="visual_wrap">
		<link rel="stylesheet" href="/css/main_slider.css" type="text/css">
		<link rel="stylesheet" href="/css/login.css" type="text/css">
		<script type="text/javascript" src="/css/js/bxslider.js"></script>
		<ul id="visual">
			<li><p style="background:url(/images/component/banner3_slide.png) top center no-repeat; height:610px;"></p></li>
			<li><p style="background:url(/images/component/slide1.jpg) top center no-repeat; height:610px;"></p></li>
			<li><p style="background:url(/images/component/slide2.jpg) top center no-repeat; height:610px;"></p></li>
			<li><p style="background:url(/images/component/slide3.jpg) top center no-repeat; height:610px;"></p></li>
		</ul>

		<script type="text/javascript">
			$(document).ready(function(){
				$('#visual').bxSlider({
					mode:'fade',
					autoControls: true
				});
			});
		</script>
	</div><!--// visual_wrap -->

	<div class="member_info">
		<div class="inner clfix">
			<div class="member_title"><p>GENESYS LAB.</p></div>
			<div class="memberBox member_1">
				<a href="/sub.ejs?tbl=candidate1">
					<h2>Ph.D. Candidate</h2>
					<p>Genesy Lab.</p>
					<span class="btn_more"><img src="/images/component/btn_more_arrow.png" alt="" /></span>
				</a>
			</div><!--// member_1 -->
			<div class="memberBox member_2">
				<a href="/sub.ejs?tbl=candidate2">
					<h2>M.S. Candidate</h2>
					<p>Genesy Lab.</p>
					<span class="btn_more"><img src="/images/component/btn_more_arrow.png" alt="" /></span>
				</a>
			</div><!--// member_2 -->
			<div class="memberBox member_3">
				<a href="/sub.ejs?tbl=alumni">
					<h2>Alumni</h2>
					<p>Genesy Lab.</p>
					<span class="btn_more"><img src="/images/component/btn_more_arrow.png" alt="" /></span>
				</a>
			</div><!--// member_3 -->
		</div><!--// inner -->
	</div><!--// member_info -->

	<%- include ("index_notice.ejs") %>
	<%- include ("index_publication.ejs") %>
		</div><!--// left_contents -->

		<div class="right_contents">
			<%- include ("index_gallery.ejs") %>
		</div><!--// right_contents -->
	</div><!--// main_container -->

	<div id="footer">
	  <%- include ("footer.ejs") %>
	</div><!--// footer -->
</div><!--// wrap -->


</DIV>
<DIV ID="objSelection">
</DIV>

</body>
</html>
