
<!DOCTYPE html>
<head>
<%- include ("head.ejs") %>
</head>

<body leftmargin="0" topmargin="0">
<DIV ID="objContents">
<%- include ("ddScript.ejs") %>

<div id="wrap">
	<div id="header">
	  <%- include ("header.ejs") %>
	</div><!--// header -->

	<div id="visual_wrap">
		<link rel="stylesheet" href="/css/main_slider.css" type="text/css">
		<script type="text/javascript" src="/css/js/bxslider.js"></script>
		<ul id="visual">
			<li><p style="background:url(/images/abc.png) top center no-repeat; height:610px;"></p></li>
			<li><p style="background:url(/images/visual1.png) top center no-repeat; height:610px;"></p></li>
		</ul>

		<script type="text/javascript">
			$(document).ready(function(){
				$('#visual').bxSlider({
					mode:'fade',
					autoControls: true
				});
			});
		</script>
	</div><!--// visual_wrap -->

	<div class="member_info">
		<div class="inner clfix">
			<div class="member_title"><p>GENESYS LAB.</p></div>
			<div class="memberBox member_1">
				<a href="/bbs/board.php?tbl=candidate1">
					<h2>Ph.D. Candidate</h2>
					<p>Genesys Lab.</p>
					<span class="btn_more" "><img src="/images/button_home.png" alt="" /></span>
				</a>
			</div><!--// member_1 -->
			<div class="memberBox member_2">
				<a href="/bbs/board.php?tbl=candidate2">
					<h2>M.S. Candidate</h2>
					<p>Genesys Lab.</p>
					<span class="btn_more"><img src="/images/button_home.png" style="opacity:0;" alt="" /></span>
				</a>
			</div><!--// member_2 -->
			<div class="memberBox member_3">
				<% if ( session.user_id ) { %>
				  <h3> <%= session.user_name %> 님 안녕하세요 </h3>
				    <form action="/logout" method="get">
				      <input type="submit" value="logout"/>
				    </form>
				<% } else { %>
					<form action="/login" method="post" name="frm_login" id="frm_login">
					  <input tye="text" id="username" name="username" placeholder="ID" required="required" autocomplete="off"/>
					  <input type="password" id="password" name="password" plasceholder="Password" required="required" autocomplete="off" />
<input type="submit" value="login"/>
<input type="button" onclick="location.href='/signup'" value="signup"/>
</form>
				<% } %>
					<p>Genesys Lab.</p>
			</div><!--// member_3 -->
		</div><!--// inner -->
	</div><!--// member_info -->

	<div class="main_container clfix">
		<div class="left_contents">
			<div class="notice_area">
				<h2>NOTICE</h2>
				<!-- 공지 -->
								<!-- 공지 -->
				<a href="/bbs/board.php?tbl=notice" class="btn_more"><img src="/images/main/btn_more.png" alt="NOTICE 더보기" /></a>
								<div class="recent_notice clfix">
					<div class="recent_notice_txt">
						<dl>
							<dt>2020년 신년회 안내</dt>
							<dd>일시: 2020년 1월 18일 15시 30분장소: 서울대학교 302동 [Time Table][오시는 길]</dd>
						</dl>
						<a href="/bbs/board.php?tbl=notice&mode=VIEW&num=16" class="btn_more_cont">자세히보기 &gt;</a>
					</div><!--// recent_notice_txt -->
					<div class="dateBox">
						<img src="/images/main/icon_notice.png" alt="" />
						<span class="mmdd">11.29</span>
						<span class="yyyy">2019</span>
					</div><!--// dateBox -->
				</div>
								<!--// recent_notice -->
				<ul class="notice_list">
	<li><a href="/bbs/board.php?tbl=notice&mode=VIEW&num=16&">2020년 신년회 안내</a><span>2019-11-29</span><!-- &nbsp; --></li>
	<li><a href="/bbs/board.php?tbl=notice&mode=VIEW&num=15&">2019년 홈커밍데이 안내</a><span>2019-05-14</span><!-- &nbsp; --></li>
	<li><a href="/bbs/board.php?tbl=notice&mode=VIEW&num=14&">2019년 신년회 안내</a><span>2019-01-10</span><!-- &nbsp; --></li>
</ul>
				<!--
				<ul class="notice_list">
					<li>
						<a href="#">2017년도 신편입생 입학식 오리엔테이션 표창을 2017년도 신편입생 입학식 오리엔테이션 표창을</a>
						<span>2017-02-21</span>
					</li>
					<li>
						<a href="#">2017년도 신편입생 입학식 오리엔테이션 표창을 2017년도 신편입생 입학식 오리엔테이션 표창을</a>
						<span>2017-02-21</span>
					</li>
					<li>
						<a href="#">2017년도 신편입생 입학식 오리엔테이션 표창을 2017년도 신편입생 입학식 오리엔테이션 표창을</a>
						<span>2017-02-21</span>
					</li>
				</ul>
				-->
			</div><!--// notice_area -->

			<div class="publication_area">
				<h2>PUBLICATION</h2>
				<a href="/bbs/board.php?tbl=journals" class="btn_more"><img src="/images/main/btn_more.png" alt="PUBLICATION 더보기" /></a>
				<ul class="publication_list clfix">
	<li>
		<a href="/bbs/board.php?tbl=journals">
			<span class="btn_more_cont">MORE &gt;</span>
			<dl>
				<dt>01</dt>
				<dd style="word-break:break-all;">PIM-1-based carbon-sulfur composites for sodium-sulfur batteries that operate without the shuttle effect (Highlighted on Inside Back Cover)</dd>
			</dl>
		</a>
	</li>
	<li>
		<a href="/bbs/board.php?tbl=journals">
			<span class="btn_more_cont">MORE &gt;</span>
			<dl>
				<dt>02</dt>
				<dd style="word-break:break-all;">Carbanization of Carboxylate-Functionalized Polymers of Intrinsic Microporosity for Water Treatment (Highlighted on Front Cover)</dd>
			</dl>
		</a>
	</li>
	<li>
		<a href="/bbs/board.php?tbl=journals">
			<span class="btn_more_cont">MORE &gt;</span>
			<dl>
				<dt>03</dt>
				<dd style="word-break:break-all;">Enhanced cycle stability of rechargeable Li-O2 batteries using immobilized redox mediator on air cathode</dd>
			</dl>
		</a>
	</li>

</ul>				<!--
				<ul class="publication_list clfix">
					<li>
						<a href="#">
							<span class="btn_more_cont">MORE &gt;</span>
							<dl>
								<dt>01</dt>
								<dd>Ultra-hydrophobic sticky polymer surfaces formed by water-induced surface deformation</dd>
							</dl>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="btn_more_cont">MORE &gt;</span>
							<dl>
								<dt>02</dt>
								<dd>Enhanced physical stability and chemical durability of sulfonated poly(arylene ether sulfone) composite membranes having acid......</dd>
							</dl>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="btn_more_cont">MORE &gt;</span>
							<dl>
								<dt>03</dt>
								<dd>Cross-linked graphene oxide membrane having high ion selectivity and antibacterial activity prepared using tannic acid-functionalized ......</dd>
							</dl>
						</a>
					</li>
				</ul>
				-->
				<!--// publication_list -->
			</div><!--// publication_area -->
		</div><!--// left_contents -->

		<div class="right_contents">
			<h2>GALLERY</h2>
			<a href="/bbs/board.php?tbl=gallery" class="btn_more"><img src="/images/main/btn_more.png" alt="GALLERY 더보기" /></a>
			<ul class="gallery_list">
	<li>
		<a href="/bbs/board.php?tbl=gallery&mode=VIEW&num=36&">
			<div class="gallery_preview_img">
				<div style="display: table; width: 298px; height: 168px; #position: relative; overflow: hidden;">
					<div style=" #position: absolute; #top: 50%; #left: 50%; display: table-cell; vertical-align: middle; text-align: center;">
						<div style=" #position: relative; #top: -50%; #left: -50%;">
							<img src='/editor/upload/img/1551325023.jpg' width='254' height='168' >						</div>
					</div>
				</div>
			</div>
			<div class="gallery_preview_txt">
				<span>2019-02-28</span>
				<p>2019 신년회 (교수님 취임 20주년 기념)</p>
			</div>
		</a>
	</li>

	<li>
		<a href="/bbs/board.php?tbl=gallery&mode=VIEW&num=35&">
			<div class="gallery_preview_img">
				<div style="display: table; width: 298px; height: 168px; #position: relative; overflow: hidden;">
					<div style=" #position: absolute; #top: 50%; #left: 50%; display: table-cell; vertical-align: middle; text-align: center;">
						<div style=" #position: relative; #top: -50%; #left: -50%;">
							<img src='/bbs/data/gallery/015c2d0a_19B3E2B5B5+C7D0C0A7BCF6BFA9BDC4-1.jpg' width='254' height='168' >						</div>
					</div>
				</div>
			</div>
			<div class="gallery_preview_txt">
				<span>2019-02-26</span>
				<p>19년도 학위수여식</p>
			</div>
		</a>
	</li>

</ul>			<!--
			<ul class="gallery_list">
				<li>
					<a href="#">
						<div class="gallery_preview_img">
							<img src="http://placehold.it/298x168" alt="" />
						</div>
						<div class="gallery_preview_txt">
							<span>2017-02-21</span>
							<p>홈페이지를 방문해주셔서 진심으로 감사드립니다. 안녕하세요 서울대학교 고분자화학연구실입니다.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="gallery_preview_img">
							<img src="http://placehold.it/298x168" alt="" />
						</div>
						<div class="gallery_preview_txt">
							<span>2017-02-21</span>
							<p>홈페이지를 방문해주셔서 진심으로 감사드립니다. 안녕하세요 서울대학교 고분자화학연구실입니다.</p>
						</div>
					</a>
				</li>
			</ul>
			-->
			<!--// gallery_list -->
		</div><!--// right_contents -->
	</div><!--// main_container -->

	<div id="footer">
	  <%- include ("footer.ejs") %>	
	</div><!--// footer -->
</div><!--// wrap -->


</DIV>
<DIV ID="objSelection">
</DIV>

</body>
</html>
<!-- new post -->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script type="text/javascript" src="/addr_zip/Uzipjs/new_UzipJs.js"></script>
<!-- openDaumPostcode -->
