
<!DOCTYPE html>
<head>
<%- include ("head.ejs") %>
</head>
<script type="text/javascript">
	function openPopupWindow() {
	 document.domain = "127.0.0.1"; //document.domain 값이 팝업과 부모창 동일해야 합니다.
	 window.open("/signup", "popup", "width=500, height=500, resizable=no, scrollbars=no")
	}
</script>

<body leftmargin="0" topmargin="0">
<DIV ID="objContents">
<%- include ("ddScript.ejs") %>

<div id="wrap">
	<div id="header">
	  <%- include ("header.ejs") %>
	</div><!--// header -->

	<div id="visual_wrap">
		<link rel="stylesheet" href="/css/main_slider.css" type="text/css">
		<link rel="stylesheet" href="/css/login.css" type="text/css">
		<script type="text/javascript" src="/css/js/bxslider.js"></script>

		<ul id="visual">
			<%- include ("mainslide.ejs") %>
		</ul>

		<script type="text/javascript">
			$(document).ready(function(){
				$('#visual').bxSlider({
					mode:'fade',
					autoControls: true
				});
			});
		</script>
	</div><!--// visual_wrap -->

	<div class="member_info">
		<div class="inner clfix">
			<div class="member_title"><p>GENESYS LAB.</p></div>
			<div class="memberBox member_1">
				<a href="/sub.ejs?tbl=candidate1">
					<h2>Ph.D. Candidate</h2>
					<p>Genesy Lab.</p>
					<span class="btn_more"><img src="/images/component/btn_more_arrow.png" alt="" /></span>
				</a>
			</div><!--// member_1 -->
			<div class="memberBox member_2">
				<a href="/sub.ejs?tbl=candidate2">
					<h2>M.S. Candidate</h2>
					<p>Genesy Lab.</p>
					<span class="btn_more"><img src="/images/component/btn_more_arrow.png" alt="" /></span>
				</a>
			</div><!--// member_2 -->
			<div class="memberBox member_3">
				<a href="/sub.ejs?tbl=alumni">
					<h2>Alumni</h2>
					<p>Genesy Lab.</p>
					<span class="btn_more"><img src="/images/component/btn_more_arrow.png" alt="" /></span>
				</a>
			</div><!--// member_3 -->
		</div><!--// inner -->
	</div><!--// member_info -->

	<%- include ("index_notice.ejs") %>
	<%- include ("index_publication.ejs") %>
		</div><!--// left_contents -->

		<div class="right_contents">
			<%- include ("index_gallery.ejs") %>
		</div><!--// right_contents -->
	</div><!--// main_container -->

	<div id="footer">
	  <%- include ("footer.ejs") %>
	</div><!--// footer -->
</div><!--// wrap -->


</DIV>
<DIV ID="objSelection">
</DIV>

</body>
</html>
