<html>
<head>
<title></title>
<link rel="stylesheet" href="/css/style.css" type="text/css">			<!-- 디자인 CSS -->
</head>
<body>
  <div class="container-login100">
		<div class="wrap-login100">
			<form action="/mod_professor" method="post" name="frm_prof" id="frm_prof">
				<h2 class=" mt10">
					> PROFESSOR DATA
				</h2>
				<div>
          <label><h3>NAME</h3>
            <input type="text" id="name" name="name" value="<%= data[0].name %>" style="height:30px;" placeholder="NAME" required="required" autocomplete="off"/>
          </label>
        </div>

        <div>
        <p class="mt50">
          <label><h3>CONTENT</h3></label>
          <textarea id="content" name="content" cols="30" rows="4">
            <%= data[0].content %>
          </textarea>
        </p>
        </div>

        <div>
          <label><h3>TEL</h3>
          <input type="text" id="tel" name="tel" value="<%= data[0].tel %>" style="height:30px;" placeholder="TEL" required="required" autocomplete="off"/>
          </label>
        </div>
        <div>
          <label><h3>FAX</h3>
          <input type="text" id="fax" name="fax" value="<%= data[0].fax %>" style="height:30px;" placeholder="FAX" required="required" autocomplete="off"/>
          </label>
        </div>
        <div>
          <label><h3>E-mail</h3>
          <input type="text" id="email" name="email" value="<%= data[0].email %>" style="height:30px;" placeholder="EMAIL" required="required" autocomplete="off"/>
          </label>
        </div>
        <div>
          <label><h3>EDUCATION</h3></label>
          <textarea id="edu" name="edu" cols="40" rows="4">
            <%= data[0].edu %>
          </textarea>
        </div>
        <div>
          <label><h3>EXPERIENCE</h3></label>
          <textarea id="exp" name="exp" cols="40" rows="10">
            <%= data[0].exp %>
          </textarea>
        </div>

				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<input type="submit"/>
					</div>
				</div>
        </form>
		</div>
	</div>
</body>
</html>
