<html>
<head>
<title></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<script type="text/javascript">
function frm_check() {
  if(frm_pubmod.year.value == "") {
   alert("YEAR를 입력해주세요.");
   frm_pubmod.year.focus();
   return false;
  } else if(frm_pubmod.content.value == "") {
    alert("TITLE을 입력해주세요.");
    frm_pubmod.content.focus();
    return false;
  } else if(frm_pubmod.author.value == "") {
    frm_pubmod.author.focus();
    alert("AUTHOR을 입력해주세요.");
    return false;
  } else if(frm_pubmod.reg.value == "") {
    frm_pubmod.journal.focus();
    alert("JOURNAL을 입력해주세요.");
    return false;
  }
  else return true;
}
</script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<body>
  <style media="screen">
    input {
      width : 200px;
    }
  </style>
  <form action="/mod_pubmod" method="post" name="frm_pubmod" id="frm_pubmod">
    <input type="hidden" name="id" id="id" value="<%= data[0].id %>">
    <label><h4>YEAR</h4>
    <input type="text" name="year" id="year" value="<%= data[0].year %>">
    </label>
    <label><h4>TITLE</h4>
    <input type="text" name="content" id="content" value="<%= data[0].content %>" >
    </label>
    <label><h4>AUTHOR</h4>
    <input type="text" name="author" id="author" value="<%= data[0].author %>">
    </label>
      <label><h4>JOURNAL</h4>
        <input type="text" name="reg" id="reg" value="<%= data[0].reg %>">
      </label>
<input type="submit" name="submitForm" value="제출">
</form>
</body>
</html>
