<% if (tbl == 'contact') { %>
			<div class="contop">
				<h3 class="page_title">CONTACT US</h3>
				<p>CUSTOM LAB.</p>
			</div><!--// contop -->
			<div class="conbody">
			<div id="map" class="map">
          </div>
        	<script>
        		var container = document.getElementById('map');
        		var options = {
        			center: new kakao.maps.LatLng(36.62549277032, 127.45794925929039),
        			level: 3
        		};

        		var map = new kakao.maps.Map(container, options);
            var markerPosition  = new kakao.maps.LatLng(36.62549277032, 127.45794925929039);
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                  position: markerPosition
                });
            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);

            // 커스텀 오버레이에 표시할 내용입니다
            // HTML 문자열 또는 Dom Element 입니다
            var content = '<div class ="overlay"><span class="left"></span><span class="center">            <a href="https://map.kakao.com/link/to/Genesys,36.62883224146073, 127.45657148318668" style="color:blue;text-decoration:none;" target="_blank">길찾기</a></span><span class="right"></span></div>';

            // 커스텀 오버레이가 표시될 위치입니다
            var position = new kakao.maps.LatLng(36.62549277032, 127.45794925929039);

            // 커스텀 오버레이를 생성합니다
            var customOverlay = new kakao.maps.CustomOverlay({
                position: position,
                content: content
            });

            // 커스텀 오버레이를 지도에 표시합니다
            customOverlay.setMap(map);
          </script>
          <div style="text-align:right;">
          </div>
	    <p class="mt10" style='margin-top:10px;text-align:center;'>
	      충청북도 청주시 흥덕구 복대동 872-10 2층
	    </p>
	  </div><!--// conbody -->
<% } else if(tbl == 'sitemap') { %>
	<div class="contop">
	<h3 class="page_title">SITEMAP</h3>
	<p>CUSTOM LAB.</p>
	</div><!--// contop -->
	<div class="conbody">
	<div class="site_wrap">
	<dl class="site_con">
		<dt>RESEARCH</dt>
		<% for(var i=0;i<data_research.length;i++) { %>
			<dd><a href="<%= "/sub.ejs?tbl=research" + i %>"><%= data_research[i].tblname %></a></dd>
		<% } %>
	</dl>
	<dl class="site_con">
		<dt>PROFESSOR</dt>
		<dd><a href="/sub.ejs?tbl=product">Professor</a></dd>
	</dl>

	<dl class="site_con  margin_0">
		<dt>Members</dt>
		<dd><a href="/sub.ejs?tbl=service">Ph.D. Candidate</a></dd>
		<dd><a href="/sub.ejs?tbl=case">M.S. Candidate</a></dd>
		<dd><a href="/sub.ejs?tbl=case">Alumni</a></dd>
</div>



<div class="site_wrap mt30">
		<dl class="site_con">
		<dt>Publication</dt>
		<dd><a href="/sub.ejs?tbl=reference">Journals</a></dd>
		<dd><a href="/sub.ejs?tbl=reference">Presentations</a></dd>
		<dd><a href="/sub.ejs?tbl=reference">Patent</a></dd>
	</dl>
	<dl class="site_con ">
		<dt>Board</dt>
		<dd><a href="board.ejs?tbl=1&pageNum=1">Notice</a></dd>
		<dd><a href="board.ejs?tbl=2&pageNum=1">Gallery</a></dd>
	</dl>
</div>

<style type="text/css">
/*»çÀÌÆ®¸Ê*/
.site_wrap {width:100%;margin-bottom:30px; text-align:left;}
.site_con {width:230px;float:left;margin-right:65px; margin-top:10px;}
.site_con dt {margin-bottom:5px; font-size:17px; color:#0a82a8;padding-bottom:10px;  font-weight:bold; border-bottom:2px solid #0a82a8;line-height:45px; height:35px; padding-left:10px; text-align:left; padding-left:0px;}

.site_con dd {font-size:13px; color:#666;text-align:left; padding-left:3px; border-bottom:1px solid #ccc; line-height:36px; padding-left:10px;  font-weight:bold; background:url(/images/sub01/dot_li.jpg)no-repeat 10px 14px; padding-left:2px; }
.site_con dd a {color:#666;}
.site_con dd a:hover {color:#009ed0;text-decoration:none;}
.baby_o{font-size:12px;color:#666;line-height:22px; padding-left:15px; padding-top:6px;}
.site_con span {background-color:#ffffff; }
.site_con dd .baby_o a:hover {color:#009ed0;text-decoration:underline; font-weight:normal}

.site_con ul{background-color:#f8f8f8; border-bottom:1px solid #ccc; padding-bottom:7px;}


.margin_0 {margin-right:0;}

.site_wrap:after { /* after */
 content:".";
 display:block;
 height:0;
 clear:both;
 visibility:hidden;
}
*html .site_wrap  { height:1%;} /* IE5, IE6 À» À§ÇÑ ±ÔÄ¢ */
*:first-child+html .site_wrap   { height:1%;} /* IE7 À» À§ÇÑ ±ÔÄ¢ */

</style>
</div><!--// conbody -->
<% } else if(tbl == "professor") { %>
	<div class="contop">
		<h3 class="page_title">PROFESSOR</h3>
		<p>Genesys Lab.</p>
	</div><!--// contop -->
	<div class="conbody">
		<div id="DivContents">
			<div class="professor01">
				<div class="p_pic md20 mt20">
					<img alt="" src="/images/professor/professor.png">
				</div>
				<div class="p_basic">

					<dl>
						<dt class="mt18"><%= data[0].name %></dt>
						<dd>
							<ul>
								<%- data[0].content %>
							</ul>
						</dd>
						<dd><em>Tel.</em><%- data[0].tel %></dd>
						<dd><em>Fax.</em><%- data[0].fax %></dd>
						<dd><a href="mailto:<%- data[0].email %>"><%- data[0].email %></a> </dd>
					</dl>
				</div>
			</div>

			<h4 class="h4_title mt30">Education</h4>
				<%- data[0].edu %>
			<h4 class="h4_title mt60">PROFESSIONAL EXPERIENCE</h4>
			<%- data[0].exp %>
		</div>
	</div>
	<% } else if(tbl == "candidate1") { %>
	<div class="contop">
		<h3 class="page_title">Ph.D. CANDIDATE</h3>
		<p>Genesys Lab.</p>
	</div><!--// contop -->
	<div class="conbody">
		<style>
		.tit {font-weight:bold;color:#666666;text-align:center;}
		.bbs_categ {line-height:22px;}
		.bbs_categ  td {line-height:24px; height:24px; color:#c2c2c2; text-decoration:none;}
		.bbs_categ  td a:hover{line-height:24px; height:24px; color:#f26731; text-decoration:none;}
		.sub_dot{background:url('/images/sub/sub_dot.jpg') 0 4px no-repeat; padding-left:12px; vertical-align:top;}
		.bbs_btn{width:80px; height:27px; background:#ffffff; color:#111; font-weight:bold; border:1px solid #dbdbdb; text-align:center; line-height:25px; display:inline-block;}
		</style>
							<div class="mem_skin ">
						<% for(var i=0;i<data.length;i++) { %>
							<div class="mem_img">
								<div style="display:table; width:125px; height:160px; #position:relative; overflow:hidden;">
									<div style="#position:absolute; #top:50%; #left:50%; display:table-cell; vertical-align:middle; text-align:center;">
										<div style="#position:relative; #top:-50%; #left:-50%;">
											<img src="/bbs/data/candidate1/sum_9a069864_C8ABC7F6B1E2.png" style="max-width:125px; max-height:160px;" >
										</div>
									</div>
								</div>
							</div>
							<div class="mem_cont md30">
								<table width="100%" cellpadding="0" cellspacing="0" class="mem_table ">
									<colgroup>
									<col width="20%">
									</colgroup>
									<tr>
										<th colspan="2">
																	<%= data[i].name %>
																	</th>
									</tr>
									<tr>
										<td class="t_1">E-mail</td>
										<td><%= data[i].email %></td>
									</tr>
									<tr>
										<td  class="t_1">Research area </td>
										<td>
											<div style="word-break:break-all;">
												<%= data[i].researchArea %></div>
										</td>
									</tr>
								</table>
							</div>
						<% } %>

					</div>
	</div>
	<% } else if(tbl == 'candidate2') {  %>
	<div class="contop">
		<h3 class="page_title">M.S. CANDIDATE</h3>
		<p>Genesys Lab.</p>
	</div><!--// contop -->
	<div class="conbody">
		<style>
		.tit {font-weight:bold;color:#666666;text-align:center;}
		.bbs_categ {line-height:22px;}
		.bbs_categ  td {line-height:24px; height:24px; color:#c2c2c2; text-decoration:none;}
		.bbs_categ  td a:hover{line-height:24px; height:24px; color:#f26731; text-decoration:none;}
		.sub_dot{background:url('/images/sub/sub_dot.jpg') 0 4px no-repeat; padding-left:12px; vertical-align:top;}
		.bbs_btn{width:80px; height:27px; background:#ffffff; color:#111; font-weight:bold; border:1px solid #dbdbdb; text-align:center; line-height:25px; display:inline-block;}
		</style>
							<div class="mem_skin ">
								<% for(var i=0;i<data.length;i++) { %>
									<div class="mem_img">
										<div style="display:table; width:125px; height:160px; #position:relative; overflow:hidden;">
											<div style="#position:absolute; #top:50%; #left:50%; display:table-cell; vertical-align:middle; text-align:center;">
												<div style="#position:relative; #top:-50%; #left:-50%;">
													<img src="/bbs/data/candidate1/sum_9a069864_C8ABC7F6B1E2.png" style="max-width:125px; max-height:160px;" >
												</div>
											</div>
										</div>
									</div>
									<div class="mem_cont md30">
										<table width="100%" cellpadding="0" cellspacing="0" class="mem_table ">
											<colgroup>
											<col width="20%">
											</colgroup>
											<tr>
												<th colspan="2">
																			<%= data[i].name %>
																			</th>
											</tr>
											<tr>
												<td class="t_1">E-mail</td>
												<td><%= data[i].email %></td>
											</tr>
											<tr>
												<td  class="t_1">Research area </td>
												<td>
													<div style="word-break:break-all;">
														<%= data[i].researchArea %></div>
												</td>
											</tr>
										</table>
									</div>
								<% } %>
					</div>
	</div><!--// conbody -->
<% } else if(tbl == "alumni") { %>
	<div class="contop">
		<h3 class="page_title">ALUMNI</h3>
		<p>CUSTOM LAB.</p>
	</div><!--// contop -->
	<div class="conbody">
		<style>
		.tit {font-weight:bold;color:#666666;text-align:center;}
		.bbs_categ {line-height:22px;}
		.bbs_categ  td {line-height:24px; height:24px; color:#c2c2c2; text-decoration:none;}
		.bbs_categ  td a:hover{line-height:24px; height:24px; color:#f26731; text-decoration:none;}
		.sub_dot{background:url('/images/sub/sub_dot.jpg') 0 4px no-repeat; padding-left:12px; vertical-align:top;}
		.bbs_btn{width:80px; height:27px; background:#ffffff; color:#111; font-weight:bold; border:1px solid #dbdbdb; text-align:center; line-height:25px; display:inline-block;}
		</style>
							<div class="mem_skin ">
								<% for(var i=0;i<data.length;i++) { %>
									<div class="mem_img">
					<div style="display:table; width:125px; height:160px; #position:relative; overflow:hidden;">
						<div style="#position:absolute; #top:50%; #left:50%; display:table-cell; vertical-align:middle; text-align:center;">
							<div style="#position:relative; #top:-50%; #left:-50%;">
								<img src="/bbs/data/alumni/sum_3ad487c6_oh_k_s.jpg" style="max-width:125px; max-height:160px;" >
							</div>
						</div>
					</div>
				</div>
				<div class="mem_cont md30">
					<table width="100%" cellpadding="0" cellspacing="0" class="mem_table ">
						<colgroup>
						<col width="20%">
						</colgroup>

						<tr>
							<th>
														<%= data[i].name %>
														</th>
						</tr>

						<tr>
							<td<%= data[i].year %><!-- Ph.D [M.S. [2001]년] --></td>
						</tr>
												<tr>
							<td><%= data[i].researchArea %></td>
						</tr>
												<tr>
							<td ><%= data[i].occu %></td>
						</tr>
					</table>
				</div>
								<% } %>
					</div>
	</div>
<% } else if(tbl == "journals" || tbl == "presentations" || tbl == "patent") { %>
	<div class="contop">
		<h3 class="page_title"><%= tbl %></h3>
		<p>>Genesys Lab.</p>
	</div><!--// contop -->
	<div class="conbody">
		<div class="year_tab">
			<div class="year_tab_inWrap">
				<ul class="year_tab_list" style="width: 1785px; left: 0px;">
					<% for (var i = 0; i < year.length; i++) { %>
						<li>
						<a href="javascript:iframe_url('/publication?tbl=<%= tbl %>&year=<%= year[i].year %>');"
							<% if(i==0) { %>
								class="on"
							<% } %>
							>
						<%= year[i].year %>(<%= year[i].cnt %>)</a>
						</li>
					<% } %>
				</ul>
			</div>
			<p class="prev_btn"><img src="/images/pro_btn.jpg" alt=""></p>
			<p class="next_btn"><img src="/images/next_btn.jpg" alt=""></p>
		</div>
		<iframe name="board_iframe" id="board_iframe" src="/publication?tbl=<%= tbl %>&year=<%= year[0].year %>" frameborder="0" width="100%" scrolling="no" onload="autoResize('board_iframe')" height="863px"></iframe>
	</div>
<% } else { %>
	<% for(var i=0;i<data_research.length;i++) { %>
		<% if( tbl == ("research" + i)) { %>
			<div class="contop">
				<h3 class="page_title"><%= data_research[i].tblname %></h3>
				<p>Genesys Lab.</p>
			</div><!--// contop -->
			<div class="conbody">
				<div class="research_cont">
					<div class="center">
						<img src="<%= data_research[i].img %>" alt="" width="300px" height="200px">
					</div>
					<p class="mt50"><%= data_research[i].content %></p>
				</div>
			</div>
		<% break; } %>
	<% } %>
<% } %>
<script type="text/javascript">
$(function(){
	//$( ".year_tab_list" ).draggable({ axis: "x" });
	var wrprwdth = $('.year_tab').width(),
		ulwdth = 0,
		lilength = $('.year_tab_list li').length,
		liwidth = parseInt($('.year_tab_list li').width() + 10),
		moveleft = 0;
	$(window).resize(function(){
		 wrprwdth = $('.year_tab').width();
		 if(parseInt(ulwdth - wrprwdth) <= parseInt(moveleft) - 95){
			moveleft = parseInt(ulwdth - wrprwdth);
			 $('.year_tab_list').stop().animate({left : parseInt('-' + moveleft)},800);
		 return false;
		}
	});
	// Get all list item Width;
	// $('.year_tab_list li').each(function(){
	//	 ulwdth += $(this).width() + 8;
	//  });

	// Set ul Width;
	ulwdth += liwidth * lilength;
	$('.year_tab_list').width(ulwdth);
	moveleft = 0;
	$('.year_tab_list').stop().animate({left : parseInt(moveleft)});

	//Prev button click function
	$('.prev_btn').click(function(){
		if(parseInt(moveleft)<=0){
			moveleft = 0;
			 $('.year_tab_list').stop().animate({left : parseInt(moveleft)},800);
		 return false;
		}else{
			moveleft -= ulwdth/lilength;
			$('.year_tab_list').stop().animate({left : parseInt('-'+moveleft)},800);
		}
	});
	//Next button click function
	$('.next_btn').click(function(){
		if(parseInt(ulwdth - wrprwdth) <= parseInt(moveleft -95 )){
			moveleft = parseInt(ulwdth - wrprwdth);
			 $('.year_tab_list').stop().animate({left : parseInt('-' + moveleft)},800);
		 return false;
		}else{
			moveleft += ulwdth/lilength;
			$('.year_tab_list').stop().animate({left : parseInt('-' + moveleft)},800);
		}
	});
	/*2017-03-16 kh 추가 년도 카테고리 활성화*/
	$('.year_tab_list li a').click(function(){
		$('.year_tab_list li a').removeClass('on');
		$(this).addClass('on');
	});
	/*2017-03-16 kh 추가 년도 카테고리 활성화*/
});
</script>
<style type="text/css">
.year_tab{width:100%; margin:0 auto; position:relative; overflow:hidden;}
.year_tab_inWrap{width:735px; margin:0 auto; position:relative; overflow:hidden; }
.year_tab ul.year_tab_list {height:45px;  white-space: nowrap; padding: 0px; position: relative; margin:0 auto; font-size:0; }
.year_tab ul.year_tab_list li{display: inline-block;  vertical-align:middle; font-size:14px; font-weight:600; color:#bbb; height:45px;  line-height:45px; margin:0 5px; text-align:center; width:95px; text-align:center; cursor:pointer; box-sizing:border-box;}
.year_tab ul.year_tab_list li:hover{color:#383838; }
.year_tab ul.year_tab_list li a.on{ font-size:18px; font-weight:600; color:#383838;  line-height:45px}
.year_tab .prev_btn{float:left; position:absolute; left:0; top:1px; cursor:pointer;}
.year_tab .next_btn{position:absolute; right:0; top:1px; cursor:pointer;}
.down_btn{display:inline-block; width:105px; height:30px;background-color:#a1a1a1; color:#fff; font-size:12px; font-weight:600; text-align:center; line-height:30px}
.link_btn{display:inline-block;  width:105px; height:30px; background-color:#a4b2bd; color:#fff; font-size:12px; font-weight:600; text-align:center; line-height:30px}
</style>
